

/* **************************** CSS RESET **************************** */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
}
ol, ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
table {
    border-collapse:collapse;
	border-spacing:0;
}
em {
    font-weight:normal;
    font-style:normal;
}



/* **************************** STRUCTURE **************************** */

html {
	margin:0;
	padding:0;
}

body {


	font-family: helvetica, tahoma, verdana, arial, sans-serif;
	font-size:14px;
	line-height:22px;
	font-weight:normal;
	margin:0;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	background-position: center top;
	width:100%;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

a {
	color:#84D9FF;
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a:focus {
	outline:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a:hover {
	color:#00A0DD;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

a, input[type=submit] {
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#spinner {
	position: absolute;
	background-image:url('../images/spinner.gif');
	background-repeat: no-repeat;
	background-position: center center;
	width:960px;
	height:480px;
	margin:0px auto;
	clear:both;
	position:relative;
}
#container {
	width:960px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin:0px auto;
	clear:both;
	position:relative;
	display:none;
}
#containerAuth {
	width:600px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin:0px auto;
	clear:both;
	position:relative;
	display:none;
}
#content {
}

h1 {
	font-weight:bold;
	font-size:21px;
	margin-bottom:12px;
	width:auto;
}
h2 {
	font-weight:bold;
	font-size:18px;
	margin-bottom:8px;
}


/* **************************** NAV **************************** */

#nav {

}
#nav-logo {
	margin-top:15px;
	margin-bottom:5px;
}

/* **************************** HOME **************************** */

.home {
}
.home p {
	width:420px;
	margin-bottom:12px;
	margin-left:10px;
}
.home .game {
	position:relative;
	padding:10px;
	width:823px;
	height:390px;
	border:2px solid #58595B;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-bottomright: 12px;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.home #landingPage {
	position:absolute;
	padding:10px;
	width:936px;
	height:470px;
	top:66px;
	border:2px solid #58595B;
	background-color:#000000;
	-webkit-border-radius: 12px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 12px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 12px;
	border-bottom-left-radius: 0;
	z-index:100;
}
.home #landingPage .icons {
	width:128px;
	height:410px;
	padding:30px;
	float:left;
}
.home #landingPage .icons img {
	width:128px;
	height:128px;
}
.home #landingPage .copy {
	float:left;
	padding-top:40px;
	font-size:32px;
	line-height:42px;
	color:#E2217E;
	clear:right;
}
.home #landingPage .copy p {
	width:710px;
}
.home #landingPage #btnStartNowHolder {
	width:930px;
	text-align:right;
	float:left;
	margin-top:-45px;
}
.home #landingPage #btnStartNow {
	color: #999999;
	border:2px #999999 solid;
	font-size: 24px;
	padding: 15px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-left:10px;
}
.home #landingPage #btnStartNow:hover {
	color: #FFFFFF;
	border-color:#FFFFFF;
}


.home #landingPage .copy p {
	width:390px;
	font-size:26px;
	text-transform: uppercase;
	font-family:'SMKFontHeading', helvetica, tahoma, verdana, arial, sans-serif;
}
.home #landingPage #landingPageButtonsHolder {
	padding-top:40px;
}
.home #landingPage #landingPageButtonsHolder #btnPlayGame,
.home #landingPage #landingPageButtonsHolder #btnWhereVideo {
	font-family:'SMKFontHeading', helvetica, tahoma, verdana, arial, sans-serif;
	font-size:60px;
	line-height:50px;
	border:4px solid #58595B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-transform: uppercase;
	text-align: center;
	width:320px;
	float:left;
	padding:0px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
	color:#3399CC;
}
.home #landingPage #landingPageButtonsHolder #btnWhereVideo {
	font-size:40px;
}
.home #landingPage #landingPageButtonsHolder #btnWhereVideo span {
	font-size:50px;
}
.home #landingPage #landingPageButtonsHolder #btnPlayGame:hover,
.home #landingPage #landingPageButtonsHolder #btnWhereVideo:hover {
	color:#CCCCCC;
}


.home #instructions {
	color:#A6A8AB;
	padding-left:10px;
	margin-bottom:10px;
	font-size:12px;
}

.home .people  {
	margin-top:3px;
}
.home .people .person {
	height:300px;
	width:254px;
	float:left;
}
/*
	Shag  E1207D
	Marry 229CD3
	Kill DF234E
*/
.home .people #person1  {
	margin-left:6px;
	margin-right:14px;
}
.home .people #person2  {
	margin-right:14px;
}
.home .people #person3  {
}
.home .people .person .name {
	background-color: #dfe0e2;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	color:#000000;
	height:28px;
	padding-left:12px;
	padding-top:10px;
	overflow:hidden;
	display:block;
	font-size:18px;
	line-height:21px;
}
.home .people .person.shag .name {
	background-color: #c700e1;
}
.home .people .person.marry .name {
	background-color:#229CD3;
}
.home .people .person.kill .name {
	background-color: #fe0010;
}
.home .people .person .info {
	position:absolute;
	top:47px;
	margin-left:217px;
}

.home .people .person .overlay {
	position:absolute;
	top:0px;
	display:none;
	opacity:0.50;
}

.photoContainer {
	border:2px solid #58595B;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-top:none;
	width:250px;
	height:248px;
	position: relative;
	-webkit-perspective: 800px;
	 -moz-perspective: 800px;
	   -o-perspective: 800px;
	      perspective: 800px;
}
.home .people .person.shag .photoContainer {
	border-color: #c700e1;
}
.home .people .person.marry .photoContainer {
	border-color:#229CD3;
}
.home .people .person.kill .photoContainer {
	border-color:#DF234E;
}
.photoCard {
	width:250px;
	height:250px;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	 -moz-transition: -moz-transform 1s;
	   -o-transition: -o-transform 1s;
	      transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
	      transform-style: preserve-3d;
}
.photoCard.flipped {
	-webkit-transform: rotateY( 180deg );
	 -moz-transform:   rotateY( 180deg );
	   -o-transform:   rotateY( 180deg );
	      transform:   rotateY( 180deg );
}
.photoCard .photoFront {
	position: absolute;
	width:250px;
	height:250px;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}
.photoCard .photoFrontImage {

}
.photoCard .photoFrontImage .photoFrontImageInner {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	width:232px;
	height:232px;
	margin-left:8px;
	margin-top:8px;
}
.photoCard .photoFrontImage .photoFrontImageInner img {
	width:232px;
	height:232px;
	margin-top:0px;
	-webkit-transition:all 0.2s ease-in-out;
       -moz-transition:all 0.2s ease-in-out;
         -o-transition:all 0.2s ease-in-out;
            transition:all 0.2s ease-in-out;
}
/*.photoCard .shrink {*/
	/*height:172px;*/
	/*overflow: hidden;*/
/*}*/
.photoCard .photoBack {
	position: absolute;
	width:250px;
	height:250px;
}
.photoCard .photoBack.threedee {
	-webkit-transform: rotateY( 180deg );
	 -moz-transform:   rotateY( 180deg );
	   -o-transform:   rotateY( 180deg );
	      transform:   rotateY( 180deg );
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}

.photoCard .photoBack .photoBackInner {
	background: #666666;
	width: 214px;
	height:212px;
	padding:10px;
	margin-top:8px;
	margin-left:8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.photoCard .photoBack .photoBackInner p {
	margin:0px;
	padding:0px;
	width:260px;
}
.photoCard .photoBack .photoBackInner .photoMini {
	float:left;
	padding-right:10px;
}
.photoCard .photoBack .photoBackInner .photoMini img {
	width:48px;
	height:48px;
}
.photoCard .photoBack .photoBackInner .dob {
	float:left;
	width:200px;
}
.photoCard .photoBack .photoBackInner .cityStateCountry {
	float:left;
	width:200px;
}
.photoCard .photoBack .photoBackInner .bio {
	clear:both;
}
.photoCard .photoBack .photoBackInner .shags ,
.photoCard .photoBack .photoBackInner .marrys ,
.photoCard .photoBack .photoBackInner .kills {
	background: #000000;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float:left;
	text-align:center;
}

.photoCard .photoBack .photoBackInner .shags {
	color: #c700e1;
	margin-right:8px;
}
.photoCard .photoBack .photoBackInner .marrys {
	color:#239CD4;
	margin-right:8px;
}
.photoCard .photoBack .photoBackInner .kills {
	color: #fe0010;
}




.home .sums {
	position:absolute;
	top:242px;
	margin-left:10px;
	width:254px;
	font-size:14px;
	display:none;
}
.home #sumValue1,
.home #sumValue2,
.home #sumValue3 {
	font-size:14px;
	line-height:14px;
}
.home .sum {
	float:left;
	text-align:center;
	margin-top:20px;
	padding-top:15px;
	padding-bottom:2px;
	font-size:14px;
	line-height:16px;
	height:41px;
	padding-left:4px;
	padding-right:4px;
}
.home #sum1 {
	width:69px;
	background-color: #c700e1;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.home #sum2 {
	width:70px;
	background-color:#239CD4;
}
.home #sum3 {
	width:69px;
	background-color: #fe0010;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}


.home .icon {
	width: 72px;
	height:72px;
	cursor:pointer;
	float:left;
	display:block;
}
.home .icon img  {
	width: 72px;
	height:72px;
}
.home #icon1 {
	margin-left:9px;
	margin-right:14px;
}
.home #icon2 {
	margin-right:14px;
}
.home #icon3 {
}
.home .icon .word {
	width:72px;
	height:64px;
	padding-top:42px;
	margin-top:-96px;
	text-align:center;
	font-size:21px;
	display:none;
	color:#CCCCCC;
}

.home .icon .word.shag {
	color: #c700e1;
}
.home .icon .word.marry {
	color:#229CD3;
}
.home .icon .word.kill {
	color: #fe0010;
}


.home .nextAndChangeButtons {
	position:absolute;
	left:843px;
	top:263px;
}
.home #btnNextRound,
.home #btnChangePeople {

}
.home #btnNextRound {
	display:none;
}
.home #btnChangePeople {
	display:none;
}





/* **************************** Genders Tabs **************************** */

.home .genders {
	position:absolute;
	display:inline-block;
	left:845px;
	top:66px;
	width:70px;
}
.home .genders .gender {
	float:left;
	position:absolute;
	display:block;
	width:72px;
	height:68px;
	overflow:hidden;
	border:2px solid #58595B;
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomright: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.home .gender img {
	padding:4px;
	opacity:0.8;
}
.home .genders #male {
}
.home .genders #female {
	top:70px;
}
.home .genders #both {
	top:140px;
}
.home .genders:hover {

}
.home .genders .active {
	border-left-color: #000000;
}
.home .genders .active img {
	opacity:1;
}
.home #footer {
	position:absolute;
	top:480px;
	width:840px;
	left:0px;
	color:#555555;
}
.home #footer .footer-left {
	float:left;
}
.home #footer .footer-right {
	float:right;
	font-size:11px;
}

.home #footer a {
	color:#666666;
}
.home #footer a:hover {
	color:#FFFFFF;
}

#footer-outer {
	color:#666666;
	width:600px;
	text-align: center;
	font-size:11px;
}
#footer-outer a {
	color:#666666;
}
#footer-outer a:hover {
	color:#FFFFFF;
}

/* **************************** Authentication Panel **************************** */

.authNotSignedIn {
	position: absolute;
	right:0px;
	top:0px;
	display:block;
}
#authNotSignedInClosed {
	display:block;
	width:330px;
	height:56px;
}
#authNotSignedInClosed #btnAuthOpen {
	font-size:17px;
	color: #A6A8AB;
	border:2px solid #A6A8AB;
	margin-top:16px;
	margin-right:40px;
	padding-top:6px;
	padding-bottom:4px;
	padding-left:18px;
	padding-right:18px;
	float:right;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#authNotSignedInClosed #btnAuthOpen:hover {
	color: #FFFFFF;
	border:2px solid #FFFFFF;
}



#authNotSignedInOpen {
	position: absolute;
	right:0px;
	top:0px;
	display:block;
	background-color:#58595B;
	width:290px;
	height:52px;
	margin-right:40px;
	padding-left:15px;
	padding-top:8px;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	color:#A6A8AB;
	display:none;
}



#authSignedIn {
	position: absolute;
	right:0px;
	top:0px;
	display:block;
	background-color:#58595B;
	width:290px;
	margin-right:40px;
	height:62px;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	color:#A6A8AB;
}
#authSignedIn #userPhoto {
	float:left;
	margin-left:10px;
	margin-top:7px;
}
#authSignedIn #userPhoto img {
	border:2px #000000 solid;
	width:40px;
	height:40px;
}
#authSignedIn .userText {
	float:left;
	margin-left:10px;
	margin-top:5px;
	width:220px;
	font-size:13px;
	line-height:15px;
}
#authSignedIn #userNickName {
	color:#FFFFFF;
}
#authSignedIn .userCount {
	xbackground-color:#330000;
	background-size:24px 24px;
	background-repeat:no-repeat;
	height:24px;
	padding-left:30px;
	padding-right:10px;
	padding-top:2px;
}
#authSignedIn #userCountMarry {
	float:left;
	margin-left:10px;
	margin-right:5px;
	background-image:url('../images/icon-tiny-marry.png');
}
#authSignedIn #userCountShag {
	float:left;
	margin-right:5px;
	background-image:url('../images/icon-tiny-shag.png');
}
#authSignedIn #userCountKill {
	float:left;
	background-image:url('../images/icon-tiny-kill.png');
}


/* **************************** Register **************************** */
.terms,
.register {
	width:auto;
	padding:10px;
	border:2px solid #58595B;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	color:#CCCCCC;
	font-size: 16px;
	width:580px;
	background-color:#000000;
}

.titleTab {
	background-color:#58595B;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	color:#000000;
	height:28px;
	padding-left:12px;
	padding-top:10px;
	overflow:hidden;
	display:block;
	font-size:21px;
	line-height:24px;
	margin-bottom:0px;
	width:592px;
}


/* **************************** Register **************************** */
.terms {
	font-family:helvetica, tahoma, verdana, arial, sans-serif;
	font-size:12px;
	line-height:14px;
}
.terms p {
	margin-bottom:8px;
}
.terms a {
	color:#FFFFFF;
	text-decoration: underline;
}
.terms a:hover {
	text-decoration: underline;
	color:#84D9FF;
}
.terms strong {
	font-weight: bold;
	font-size:14px;
	line-height:16px;
}
.terms ul {
	margin-bottom:8px;
}
.terms li {
	margin-bottom:3px;
	list-style-type: circle;
	margin-left:20px;
}

/* **************************** Forms **************************** */

.errorMessage {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background-color:#990000;
	color:#FFFFFF;
	width:auto;
	font-size:16px;
	line-height:22px;
	padding-left:10px;
	padding-right:10px;
	padding-top:14px;
	padding-bottom:10px;
	margin-bottom:20px;
}
.successMessage {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background-color:#007700;
	color:#FFFFFF;
	width:auto;
	font-size:16px;
	line-height:22px;
	padding-left:10px;
	padding-right:10px;
	padding-top:14px;
	padding-bottom:10px;
	margin-bottom:20px;
}



.formLabel {
	color: #CCCCCC;
	font-size:16px;
	line-height:22px;
}
.formField {
	background-color:#444444;
	color:#CCCCCC;
	border:0px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	-webkit-appearance: none;
	font-family:'SMKFontBody', helvetica, tahoma, verdana, arial, sans-serif;
	font-size:16px;
	line-height:22px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:560px;
}
.formSubmitHolder {
	width:590px;
	text-align:right;
}
.formSubmit {
	background-color:#000000;
	color: #999999;
	font-size: 16px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:10px;
	margin-bottom:5px;
	border:2px #999999 solid;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-appearance: none;
	cursor:pointer;
}
.formSubmit:hover {
	color:#FFFFFF;
	border-color:#FFFFFF;
}
.formDropDown {
	font-size:16px;
}


/* **************************** Photo Cropping **************************** */
.cropPhoto {

}
.cropPhotoPreview {
	width:128px;
	height:128px;
	overflow:hidden;
}



































