{% extends 'fmk/base.html' %}

{% load staticfiles %}



{% block body_block %}
    <h1>About Us</h1>
<div class="jumbotron">
<h2>The Project</h2>
<p>
    Welcome to FMK! This is a simple and addictive game that lets you decide to you would fuck, marry or kill from a
    random list of three celebrities!
</p>
    <p>You can create an account with us to access awesome features such as creating a game for your friends, or contributing
    by adding a celebrity to the game!</p>
    </div>
<div class="jumbotron">
<h2>How To Play</h2>
    <div class="panel panel-primary">
<h3>Random Game</h3>
<p>
    Under the image of each celebrity, you can select their fate. Click one of the buttons to choose if you would fuck, marry or kill them.
    Once done, the game shows you <br> how your responses compare to other players and (potentially) lets you share your results using Twitter!
</p>
</div>
     <div class="panel panel-primary">
<h3>Create a Game</h3>
<p>
    To create a game, you must have an account and be logged in. Then you can use the dynamic search boxes to find a celebrity. Once you have
    selected three celebrities, you <br> can send the game ia Twitter or email to a friend.
</p>
         </div>
</div>

{% endblock%}