{% extends 'fmk/base.html' %}
{% load staticfiles %} <!-- New line -->
    {% block body_block %}

    <script>
  $(function() {
    var projects = [
        {% for celebrity in celebrities %}
        {
            value: "{{celebrity}}",
            label: "{{celebrity}}",
            desc: "{{celebrity.category}}",
            icon: "{{celebrity.picture.url}}"
          },
        {% endfor %}
    ];
    $( "#project" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        $( "#project-id" ).val( ui.item.value );
        $( "#project-description" ).html( ui.item.desc )
        $( "#project-icon" ).attr( "src", ui.item.icon );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "<br>" + item.desc + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

<div id="addCelebritySearch">
    <h2>Check our list of celebrities first</h2>
<div id="project-label">Search by name:</div>
<img id="project-icon" src="{% static 'images/FMK.png' %}" class="ui-state-default" alt="">
<input id="project">
<input type="hidden" id="project-id">
<p id="project-description"></p>
</div>



<div id="addcelebrityform">
		<h1>Add New Celebrity</h1>

		<form  action = "/fmk/add_celebrity/" method= "POST" enctype = "multipart/form-data">

			{% csrf_token %}
			{% for hiddin in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				</br>
				{{ field }}
				</br>
			{% endfor %}

			<div class="col-lg-5 col-lg-offset-2">
                <input type = "submit" class="btn btn-primary" name="submit" value="Create Celebrity"/>
            </div>
            <br>
            <br>
		</form>

</div>



	{% endblock %}