{% extends 'fmk/base.html' %}

    {% block body_block %}
		<h1>Add New Celebrity</h1>
		
		<form  action = "/fmk/add_celebrity/" method= "POST" enctype = "multipart/form-data">
		
			{% csrf_token %}
			{% for hiddin in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				</br>
				{{ field }}
				</br>
			{% endfor %}

			      <div class="col-lg-5 col-lg-offset-2">
     <input type = "submit" class="btn btn-primary" name="submit" value="Create Celebrity"/>
            </div>
            <br>
            <br>
		</form>	

	{% endblock %}