<!DOCTYPE html>
    {% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <title>

        F | M | K
        {% block title %} What will you decide? {% endblock %}
    </title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootswatch.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
      <link href="{% static 'css/shared.css' %}" rel="stylesheet">
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

      <script src="{% static 'js/jquery-ui.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


      <link rel="shortcut icon" href="http://www.smkgame.com/adland/images/favicon-marry.ico" />

<link rel="stylesheet" type="text/css" href="http://www.smkgame.com/adland/css/jquery.jcrop.css" />
<link rel="stylesheet" type="text/css" href="http://www.smkgame.com/adland/includes/shadowbox/shadowbox.css" />

<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js" ></script>
<script type="text/javascript" src="http://www.smkgame.com/adland/js/jquery.js"></script>
<script type="text/javascript" src="http://www.smkgame.com/adland/js/jquery.jcrop.js"></script>
<script type="text/javascript" src="http://www.smkgame.com/adland/includes/shadowbox/shadowbox.js"></script>
<script type="text/javascript" src="http://www.smkgame.com/adland/js/shared.js?cc=1"></script>




<script type="text/javascript">

var sPage = "home";
var sAuth = "";
var sFBAppID = "546704715361140";

</script>
  </head>
    
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index'%}">F | M | K</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Play<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'random_game' %}">Random Game</a></li>
                                <li><a href="/fmk/create_a_game">Contribute Game</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contribute<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'add_celebrity' %}">Add Celebrity</a></li>
                                <li><a href="/fmk/add_category">Add Category</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="{% url 'top_tables'%}">Top Tables</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/fmk/about/">About</a></li>
                                <li><a href="/fmk/contact_us/">Contact Us</a></li>

                                <li class="divider"></li>
                                <li><a href="#">Ethics</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li><a href="https://bootswatch.com/flatly/#top">Template Components</a></li>
                    </ul>
                    <!--<form class="navbar-form navbar-right" role="search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                    <!--</form>-->
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'sign_in' %}">Sign in</a></li>
                        <li><a href="{% url 'sign_up' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        {% block body_block %}
            <!-- Content goes here... -->
        {% endblock %}
    </div>

    <hr />

<footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="/fmk/about">About</a></li>
              <li><a href="https://twitter.com/fmkitech">Twitter</a></li>
              <li><a href="{% url 'sign_in' %}">Sign In</a></li>
              <li><a href="{% url 'sign_up' %}">Register</a></li>
              <li><a href="/fmk/contact_us">Contact Us</a></li>
            </ul>

          </div>
        </div>

      </footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

 <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>

</body>


</html>