{% extends 'fmk/base.html' %}


{% block body_block %}
    <h1>Contact Us</h1>

<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Marco Cook</h4>
    <p class="list-group-item-text">cookmarco1@gmail.com</p>
  </a>
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Scott Greig</h4>
    <p class="list-group-item-text">scottgreig27@gmail.com </p>
  </a>
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Andrew Lowson</h4>
    <p class="list-group-item-text">andrewlowson@mac.com</p>
  </a>
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Mary McDowall</h4>
    <p class="list-group-item-text">MSMcDowall@gmail.com</p>
  </a>
</div>
</p>


{% endblock%}