{% extends 'fmk/base.html' %}


{% block body_block %}
    <h1>Contact Us</h1>

<br>
<div class="panel panel-default">
<div class="panel-body">
   <h4> <a href="mailto:2152599c@student.gla.ac.uk?Subject=FMK%20" target="_top">Email Marco Cook</a></h4>
        </div>
    </div>

<div class="panel panel-default">
<div class="panel-body">
    <h4><a href="mailto:2164953G@student.gla.ac.uk?Subject=FMK%20" target="_top">Email Scott Greig</a></h4>
    </div>
        </div>

    <div class="panel panel-default">
<div class="panel-body">
 <h4> <a href="mailto:0800685L@student.gla.ac.uk?Subject=FMK%20" target="_top">Email Andrew Lowson</a></h4>
</div>
        </div>

    <div class="panel panel-default">
<div class="panel-body">
   <h4> <a href="mailto:1003254M@student.gla.ac.uk?Subject=FMK%20" target="_top">Email Mary McDowall</a></h4>
</div>
        </div>
</p>


{% endblock%}


