{% extends 'fmk/base.html' %}


	{% load staticfiles %}


{% block body_block %}
        {% if user.is_authenticated %}
		<h1>Welcome to F | M | K, {{ user.username }}!</h1>
		{% else %}
		<h2>Welcome to F | M | K</h2>
		{% endif %}

        <div class="jumbotron">

        <p>Given a choice between three celebrities
        who would you
        <p><strong>Fuck</strong><p>
        <p><strong>Marry</strong></p>
        <p><strong>Kill?</strong></p>
        </p>
<br>
        {% if user.is_authenticated %}
        <a href="{% url 'random_game' %}" class="btn btn-primary">Random Game</a>
        <a href="/fmk/create_a_game" class="btn btn-primary">Create Game</a>
        {% else %}
        <a href="{% url 'random_game' %}" class="btn btn-primary">Random Game</a>
        <p>Sign in to create your own games and add a celebrity</p>
        {% endif %}
         <div id="twitter-layout">

        <a class="twitter-timeline" href="https://twitter.com/search?q=%23fmkitech%20OR%20%40fmkitech" data-widget-id="575301081732878337">Tweets about #fmkitech OR @fmkitech</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

        </div>
<br>
<br>
<br>
<br>

{% endblock %}
