{% extends 'fmk/base.html' %}


	{% load staticfiles %}


{% block body_block %}
<!--CSS layout for the heading on the index page-->
<div id="indexpageheading">
        <!--if the user is signed in then show their username in the welcome heading-->
        {% if user.is_authenticated %}
		<h1>Welcome to F | M | K, {{ user.username }}!</h1>
		{% else %}
        <!--otherwise just show the heading-->
		<h2>Welcome to F | M | K</h2>
		{% endif %}

    </div>
<!--CSS layout for the content on the index page-->
    <div id="indexLayoutTest">
        <div class="jumbotron">
            <p>&emsp;Given a choice between three celebrities
            who would you
            <p><strong>&emsp;Fuck</strong><p>
            <p><strong>&emsp;Marry</strong></p>
            <p><strong>&emsp;Kill?</strong></p>
            </p>
            <br>
                <!--if the user is signed in then allow them to play random game and create a game-->
            {% if user.is_authenticated %}
                <div id="indexbuttonlayout">
                    <a href="{% url 'random_game' %}" class="btn btn-primary">Random Game</a>
                 <a href="{% url 'add_game' %}" class="btn btn-primary">Create Game</a>
                        <!--otherwise just allow them to play random game-->
                </div>
            {% else %}
                <div id="indexbuttonlayout">
                    <a href="{% url 'random_game' %}" class="btn btn-primary">Random Game</a>
                </div>
            <p>&emsp;Sign in to create your own games and add a celebrity</p>
            {% endif %}
        </div>

    </div>
<div>
        {% if user.is_authenticated %}
            <!--CSS layout for the twitter feed on the index page-->
            <div id="indextwitterlayout">
        {% else %}
            <div id="indextwitterlayoutnouser">
        {% endif %}
        <!--twitter API for the main timeline feed-->
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23fmkitech%20OR%20%40fmkitech"
               data-widget-id="575301081732878337">Tweets about #fmkitech OR @fmkitech</a> <script>!function(d,s,id)
        {var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
        {js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore
        (js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            </div>

{% endblock %}
