{% extends 'fmk/base.html' %}


	{% load staticfiles %} <!-- New line -->


{% block body_block %}
        {% if user.is_authenticated %}
		<h1>Welcome, {{ user.username }}!</h1>
		{% else %}
		<h2>Welcome! Please Sign In!</h2>
		{% endif %}

		<!--<p>-->
		 	<!--<img src="{% static 'images/FMK.png' %}" width="30%" alt="condom picture"/>&lt;!&ndash; New line &ndash;&gt;-->

		<!--</p>-->



        <a class="twitter-timeline" href="https://twitter.com/search?q=%23fmkitech%20OR%20%40fmkitech" data-widget-id="575301081732878337">Tweets about #fmkitech OR @fmkitech</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
