<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Play</title>
    </head>
    <body>
        <h1>Play</h1>
        <h2>Game of the Week</h2>
		<p>
            For this game choose between
           {{ week_fuck.first_name }} {{ week_fuck.last_name }}, {{ week_marry.first_name }} {{ week_marry.last_name }}
                and {{ week_kill.first_name }} {{ week_kill.last_name }}
            </br>
            Once we have pretty pictures they will be displayed here, the code is in place. 

            </br>

             <!--  <img src="{{ week_fuck.picture.url }}" width="10%" alt="week_fuck"/>
				<img src="{{ week_marry.picture.url }}" width="10%" alt="week_marry"/>
			    <img src="{{ week_kill.picture.url }}" width="10%" alt="week_kill"/> -->

        </p>
		<br/>

        <a href="/fmk/play/create_game/">Create Game</a></p>
        <a href="/fmk/play/random_game/">Random Game</a></p>

        </body>

</html>
