{% extends 'fmk/base.html' %}
    {% block body_block %}
        <h1>Game {{game.id}}</h1>
		
		{% if celebrities %}
			<ul>
				{% for celebrity in celebrities %}
				<img src ="{{celebrity.picture.url}}" alt="{{celebrity}}">
				{% endfor %}
			</ul>
		{% endif %}		
			
		{% if form %}
		<form id = "result_form" method='post' action = "/fmk/play/{{game.id}}/">
		
			{% csrf_token %}	
			{% for hiddin in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				<br>
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				</br>
			{% endfor %}
			
			<input type = "submit" name = "submit" value = "Submit" />
		</form>
		{% endif %}
		
		{% if stats %}
			<ul>
				{% for statistic in stats %}
				<li>{{statistic}}% of people agreed with you!</li>
				{% endfor %}
			</ul>
        {% endif %}
		
      {% endblock %}
