{% extends 'fmk/base.html' %}
{% block body_block %}
        <h1>Play</h1>
        <h2>Game of the Week</h2>
        <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Left</a>
  <a href="#" class="btn btn-default">Middle</a>
  <a href="#" class="btn btn-default">Right</a>
</div>
		{% if fuck_list %}
			<ul>
				{% for celebrity in fuck_list %}
				<li>{{ celebrity }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No celebrities for display</p>
		{% endif %}	
		<br/>			
		<h2>MOST MARRIED</h2>
		{% if marry_list %}
			<ul>
				{% for celebrity in marry_list %}
				<li>{{ celebrity }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No celebrities for display</p>	
		{% endif %}	
		<br/>
		<h2>MOST KILLED</h2>
		{% if kill_list %}
			<ul>
				{% for celebrity in kill_list %}
				<li>{{ celebrity }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No celebrities for display</p>	
		{% endif %}
     {% endblock %}