{% extends 'fmk/base.html' %}
{% load staticfiles %}
    {% block body_block %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    {% if celebrities %}
    <table class="table table-striped table-hover gamebuttons">
  <thead>
    <tr class="info">
{% for celebrity in celebrities %}
				<th class=" gamebuttons">{{celebrity}}</th>
				{% endfor %}
    </tr>
  </thead>
  <tbody>

    <tr>
        {% for celebrity in celebrities %}
        <td class=" gamebuttons"><img src ="{{celebrity.picture.url}}" alt="{{celebrity}}"></td>


        {% endfor %}

        {% endif %}
    </tr>

<form id = "result_form" method='post' action = "/fmk/play/{{game.id}}/">
	
	 {% csrf_token  %}
    <tr>
    {% for field in form.visible_fields %}
        <td class=" gamebuttons">{{field}}</td>
    {% endfor %}
    </tr>
	<tr>
    {% for field in form.visible_fields %}
        <td class=" gamebuttons">{{field.errors}}</td>
    {% endfor %}
    </tr>

    <tr class="active">
		{% for statistic in stats %}
            <td class=" gamebuttons">{{statistic}}</td>
        {% endfor %}

    </tr>
    <tr class="info">
        <td></td>

     <td class=" gamebuttons">
	 {% if form %}
         <input type="submit" class="btn btn-primary gamebuttons" name="submit" value="Submit" />
		{% endif %}
	</form>	
         <a href="{% url 'random_game' %}" class="btn btn-primary gamebuttons">Play Again</a></td>

        <td></td>
    </tr>

  </tbody>
</table>

<p>Tweet who you chose to FMK!</p>
                <a class="twitter-hashtag-button"
                   data-size="large"
             href="https://twitter.com/intent/tweet?button_hashtag=fmkitech&text={% for celebrity in celebrities %}{{celebrity}} {% endfor %}"
             data-related="twitter">

            Share Game
            </a>
            <script>
            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

            </script>

      {% endblock %}
