<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Play</title>
    </head>
    <body>
        <h1>Play</h1>
        <h2>Game of the Week</h2>
		<p>
            For this game choose between
           {{ week_fuck.first_name }} {{ week_fuck.last_name }}, {{ week_marry.first_name }} {{ week_marry.last_name }}
                and {{ week_kill.first_name }} {{ week_kill.last_name }}

               <img src="{{ week_fuck.picture.url }}" width="10%" alt="week_fuck"/>
				<img src="{{ week_marry.picture.url }}" width="10%" alt="week_marry"/>
			    <img src="{{ week_kill.picture.url }}" width="10%" alt="week_kill"/>

        </p>
		<br/>

        </body>

</html>
