{% extends 'fmk/base.html' %}
{% load staticfiles %}
    {% block body_block %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<form id = "result_form" method='post' action = "{% url 'play_game' game.id %}/">
    {% csrf_token  %}

{% if celebrities %}
<div>
    <table class="table table-striped table-hover gamebuttons">
    <thead>
        <tr class="info">
            <th class=" gamebuttons">{{celebrities.0}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class=" gamebuttons"><img src ="{{celebrities.0.picture.url}}" height="400" width="300" alt="{{celebrities.0}}"></td>
        </tr>


            <td class="gamebuttons">
                {{form.visible_fields.0}}
                {{form.visible_fields.0.errors}}
                {{form.visible_fields.0.help_text}}
            </td>

        <tr>
            <td class=" gamebuttons">{{stats.0}}</td>
        </tr>
    </thread>
    </table>
</div>

<div>
    <table class="table table-striped table-hover gamebuttons">
    <thead>
        <tr class="info">
            <th class=" gamebuttons">{{celebrities.1}}</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class=" gamebuttons"><img src ="{{celebrities.1.picture.url}}" height="400" width="300" alt="{{celebrities.1}}"></td>
        </tr>

            <td class="gamebuttons">
                {{form.visible_fields.1}}
                {{form.visible_fields.1.errors}}
                {{form.visible_fields.1.help_text}}
            </td>

        <tr>
            <td class=" gamebuttons">{{stats.1}}</td>
        </tr>
    </thread>
    </table>
</div>

<div>
    <table class="table table-striped table-hover gamebuttons">
    <thead>
        <tr class="info">
            <th class=" gamebuttons">{{celebrities.2}}</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class=" gamebuttons"><img src ="{{celebrities.2.picture.url}}" height="400" width="300" alt="{{celebrities.2}}"></td>
        </tr>

            <td class="gamebuttons">
                {{form.visible_fields.2}}
                {{form.visible_fields.2.errors}}
                {{form.visible_fields.2.help_text}}
            </td>

        <tr>
            <td class=" gamebuttons">{{stats.2}}</td>
        </tr>
    </thread>
    </table>
</div>
{% endif %}
<div>
<table class="table table-striped table-hover submitbuttons">
    <tr class="info">
        <td></td>

        <td class=" submitbuttons">
        {% if form %}
            <input type="submit" class="btn btn-primary submitbuttons" name="submit" value="Submit">
        {% endif %}

        <a href="{% url 'random_game' %}" class="btn btn-primary submitbuttons">Play Again</a></td>

        <td></td>
    </tr>
</table>
</div>
</form>




{% if tweets %}
	<p>Tweet who you chose to FMK!</p>
                <a class="twitter-hashtag-button"
                   data-size="large"
					href="https://twitter.com/intent/tweet?button_hashtag=fmkitech&text={% for tweet in tweets %}{{tweet}} {% endfor %}%20%20%20 fmkitech.pythonanywhere.com{% url 'play_game' game.id %}"
					data-related="twitter">

					Share Results
				</a>
            <script>
            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

            </script>
{% endif %}
      {% endblock %}

