{% extends 'fmk/base.html' %}

    {% block body_block %}
        <h1>Sign Up</h1>

        {%  if registered %}
        <strong>Congratulations, You Have Created An Account</strong>
       <a href="/fmk/">Return Home</a>
        {% else %}
        <strong>Sign Up Here</strong>

        <form class="form-horizontal" id="user_form" method="post" action="/fmk/sign_up/"
            enctype="multipart/form-data">


            {% csrf_token %}

    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <br>
            <div class="col-lg-10 col-lg-offset-2">
    <input type = "submit" class="btn btn-primary" name="submit" value="Register"/>
            </div>
    </form>
    {% endif %}

{% endblock %}