{% extends 'fmk/base.html' %}
{% block body_block %}
    <h1>Sign Up</h1>

    {%  if registered %}
        <strong>Congratulations, you have created an account {{ user.username }}</strong> <br>
        <a href="/fmk/">Return Home</a>
    {% else %}

        <h3>Sign Up For Great Features!</h3>
        <div class="form-group">
            <form id="user_form" method="post" action="/fmk/sign_up/" enctype="multipart/form-data">

                {% csrf_token %}

            Username: {{user_form.username }}    <br>
            Email add :    {{user_form.email}}        <br>
            Password : {{user_form.password}}     <br>
                {{user_form.errors}}
            <input type = "submit" class="btn btn-primary" name="submit" value="Register"/>
            </form>
        </div>
    {% endif %}
{% endblock %}