<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <title>Sign In</title>
    </head>
    <body>
        <h1>Please Sign In</h1>
    <form id="login_form" method="post" action="/fmk/sign_in/"></form>
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>