{%extends 'fmk/base.html' %}
	
	{% load staticfiles %} <!-- New line -->
	{% block body_block %}
        <h1>Please Sign In</h1>
		<form id="login_form" method="post" action="/fmk/sign_in/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" name="Submit" value="submit" />
		</form>
{% endblock %}