{% extends 'fmk/base.html' %}

{% block body_block %}

<h1>FMK Site Map</h1>
<br>
<br>
<ul>
<li><h2><a href="/fmk/index">>FMK</a></h2></li>
<br>
<br>
<l1><h2>>Play</h2></l1>
    <li><h3><a href="/fmk/random_game">Random Game</a></h3></li>
    <li><h3><a href="/fmk/create_a_game">Create A Game</a></h3></li>
    <br>
<br>
<li><h2>>Contribute</h2></li>
    <li><h3><a href="/fmk/add_celebrity">Add Celebrity</a></h3></li>
    <li><h3><a href="/fmk/add_category">Add Category</a></h3></li>
    <br>
<br>
<li><h2><a href="/fmk/top_tables">>Top Tables</a></h2></li>
    <br>
<br>
<li><h2>>About</h2></li>
    <li><h3><a href="/fmk/about">About</a></h3></li>
    <li><h3><a href="/fmk_contact_us">Contact Us</a></h3></li>
    <br>
<br>
<li><h2><a href="/fmk/sign_up">Register</a></h2></li>
        <br>
<br>
<li><h2><a href="/fmk/sign_in">Sign In</a></h2></li>

</ul>


{% endblock %}