{% extends 'fmk/base.html' %}

    {% block body_block %}

 <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>


        <h1>Top Tables</h1>
        <br>
        <div class="list-group">



<ul class="nav nav-tabs">
    <li class="active"><a href="#play" data-toggle="tab" aria-expanded="true">Hall of Shame</a></li>
  <li ><a href="#home" data-toggle="tab" aria-expanded="false">Most Fucked</a></li>
  <li ><a href="#profile" data-toggle="tab" aria-expanded="true">Most Married</a></li>
    <li ><a href="#dropdown1" data-toggle="tab" aria-expanded="true">Most Killed</a></li>


</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade " id="home">
    <p class="list-group-item-text">
              <table class="table table-striped table-hover ">

		    {% if fuck_list %}
			    {% for celebrity in fuck_list %}
			    <tr>
				    <td>{{ celebrity }}</td>
                    <td>has been fucked</td>
                    <td>{{ celebrity.fuck_count }}</td>
                    <td>times.</td>
			    </tr>
			    {% endfor %}
            </table>
		    {% else %}
			    <p>No celebrities for display</p>
		    {% endif %}</p>

  </div>

    <div class="tab-pane fade " id="profile">
      <p class="list-group-item-text">
        <table class="table table-striped table-hover ">

		{% if marry_list %}
			{% for celebrity in marry_list %}
			<tr>
				<td>{{ celebrity }} </td>
                <td>has been married</td>
                <td>{{ celebrity.marry_count }}</td>
                <td>times.</td>
			</tr>
			{% endfor %}
        </table>
		{% else %}
			<p>No celebrities for display</p>
		{% endif %}</p>
  </div>

    <div class="tab-pane fade" id="dropdown1">
    <p class="list-group-item-text">
                      <table class="table table-striped table-hover ">

		{% if kill_list %}
			{% for celebrity in kill_list %}
			<tr>
				<td> {{ celebrity }}</td>
                <td>has been killed</td>
                <td>{{ celebrity.kill_count }}</td>
                <td>times.</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>No celebrities for display</p>
        {% endif %}</p>
  </div>

    <div class="tab-pane fade active in" id="play">
    <p class="list-group-item-text">
                      <table class="table table-striped table-hover ">

		{% if plays_list %}
			{% for player in plays_list %}
			<tr>
				<td> {{ player }}</td>
                <td>has played</td>
                <td>{{ player.gamesPlayed }}</td>
                <td>times.</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>No Players for display</p>
        {% endif %}</p>
  </div>
</div>


    {% endblock %}



