<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Top Tables</title>
    </head>
    <body>
        <h1>Top Tables</h1>
        
        <h2>MOST F*CKED</h2>
		{% if fuck_list %}
			<ul>
				{% for celebrity in fuck_list %}
				<li>{{ celebrity }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No celebrities for display</p>
		{% endif %}	
		<br/>			
		<h2>MOST MARRIED</h2>
		{% if marry_list %}
			<ul>
				{% for celebrity in marry_list %}
				<li>{{ celebrity }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No celebrities for display</p>	
		{% endif %}	
		<br/>
		<h2>MOST KILLED</h2>
		{% if kill_list %}
			<ul>
				{% for celebrity in kill_list %}
				<li>{{ celebrity }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No celebrities for display</p>	
		{% endif %}
		</body>

</html>
